// Body
$body-bg-color:#f5f6fa;

// Typography
$font-family-sans-serif:'Roboto', sans-serif;;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//background-colors
$sidebar-bg: #29347a;

//border-colors
$border-color: #ebeef2;
